<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add" method="POST" class="form-example">
    <div class="form-example">
        <label for="author">Enter your full name: </label>
        <input type="text" name="author" id="author" required/>
    </div>
    <br>
    <div class="form-example">
        <label for="title">Enter your blog title: </label>
        <input type="text" name="title" id="title" required/>
    </div>
    <br>
    <div class="form-example">
        <label for="content">Enter your blog content: </label>
        <input type="text" name="content" id="content" required/>
    </div>
    <br>
    <div class="form-example">
        <input type="submit" value="Save blog post!"/>
    </div>
</form>

</body>
</html>